.header, .footer {
    width: auto;
    height: 5rem;
    background-color: aquamarine;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction-holder {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#show-listing-button {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: end;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 13rem;
    gap: 1rem;
}

/* #show-select-html, #season-select-html, #episode-select-html {
    width: 100%;
} */

.card {
    margin: 2rem;
    padding: 2rem;
    border: 0.25rem solid gold;
    border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-areas:
    "t"
    "i"
    "s"
    "b";
}


.title-holder {
  grid-area: t;
}

.image-holder {
  width: 10rem;
  grid-area: i;
}

.show-image {
    width: 100%;
}

.summary-holder {
    width: 20rem;
    padding: 0.5rem;
  grid-area: s;
}

.info-box {
    width: 15rem;
  grid-area: b;
}

.search-display {
    width: 30rem;
}

.show-info-list {
      list-style-type: none;
}

@media (min-width: 450px) {
  .card {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "t t t t t t t t t t t t"
      "i i i i b b b b b b b b"
      "i i i i b b b b b b b b"
      "i i i i b b b b b b b b"
      "s s s s s s s s s s s s"
      "s s s s s s s s s s s s";
  }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 16rem;
    gap: 1rem;
}


@media (min-width: 620px) {
  .card {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      ". . . t t t t t t . . ."
      "i i i s s s s s s b b b"
      "i i i s s s s s s b b b"
      "i i i s s s s s s b b b";
  }
}
