body {
  background-color:burlywood
}

#root {
  color: red;
}

.cards-container{
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 0;
  /* border: 0.10rem black solid; */
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
}


.episode-info-card {
  display: flex;
  flex-direction: column;
  /* border: 0.10rem black solid; */
  width: 19rem;
  background-color: gainsboro;
  border-radius: 0.30rem;
}

.episode-name-num-holder {
  border: 0.10rem black solid;
  border-radius: 0.30rem;
  display: flex;
  justify-content: center;
}

.episode-name-num-text {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 

.medium-img {
  padding: 1rem;
}

.episode-description {
  font-size: small;
  padding: 0 1rem 1rem 1rem;
}

#source {
  display: flex;
  justify-content: center;
}