body {
  background-color: lightgrey;
}

#root {
  background-color: rgb(150, 165, 178);
  color: black;
  padding: 1rem;
}

#search-input {
  margin: 1rem;
  padding: 1rem;
}

.cards-container{
  background-color: rgb(115, 154, 187);
  /* border: 0.05rem black solid; */
  display: grid;
  grid-gap: 3rem;
  justify-items: center;
  padding: 1rem;
  margin: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}



.episode-info-card {
  display: flex;
  flex-direction: column;
  border: 0.10rem black solid;
  background-color: gainsboro;
  width: 23rem;
  border-radius: 0.30rem;
  align-items: center;
  padding: 1rem;
}

.episode-name-num-holder {
  border: 0.10rem black solid;
  border-radius: 0.30rem;
  display: flex;
  justify-content: center;
  width: 20rem;
}

.episode-name-num-text {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.episode-image-container {
  padding: 1rem;
}

.episode-description {
  font-size: small;
  padding: 0 1rem 1rem 1rem;
  font-size: medium;
}

#source {
  display: flex;
  justify-content: center;
}


/* display: none; // hide something
display: block; // show something 
you can target each of these cards and give it a class to hide or show. This is CSS way.

Another way is: These cards are build from the JS array. 
We can build a second array which will only hold the ones that match our criteria.

*/
